<%- include('bootheader') -%>
    <div class="jumbotron">
        <h1>CS152aj Quiz 1</h1>
        <p>Write the HTML with Bootstrap to create this page.
          Upload your code to Latte. You can make your page in yellowcartwheel.</p>
    </div>

      <div class="row">
        <div class="col-md-1">
          <h1>1</h1>
          Write the HTML with Bootstrap to create this page.
          Upload your code to Latte. You can make your page in yellowcartwheel.
        </div>

        <div class="col-md-2">
          <h1>2</h1>
          Write the HTML with Bootstrap to create this page.
          Upload your code to Latte. You can make your page in yellowcartwheel.
        </div>

        <div class="col-md-3">
          <h1>3</h1>
          Write the HTML with Bootstrap to create this page.
          Upload your code to Latte. You can make your page in yellowcartwheel.
        </div>
        <div class="col-md-1">
          <h1>1</h1>
          Write the HTML with Bootstrap to create this page.
          Upload your code to Latte. You can make your page in yellowcartwheel.
        </div>

        <div class="col-md-2">
          <h1>2</h1>
          Write the HTML with Bootstrap to create this page.
          Upload your code to Latte. You can make your page in yellowcartwheel.
        </div>

        <div class="col-md-3">
          <h1>3</h1>
          Write the HTML with Bootstrap to create this page.
          Upload your code to Latte. You can make your page in yellowcartwheel.
        </div>
      </div>

 &nbsp

      <div class="row">
        <div class="col-md-6">
              <h3>Personal Info</h3>
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td>Name</td>
                      <td><input class="form-control form-control-sm" type="text"></td>
                    </tr>

                    <tr>
                      <td>Birthday</td>
                      <td><input class="form-control form-control-sm" type="date"></td>
                    </tr>

                    <tr>
                      <td>Gender</td>
                      <td>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
                          male

                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            female

                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                            other
                            </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

                <div class="col-md">
                <h3>Short Bio</h3>
                <textarea class="form-control" rows="10" columns="40"> This space is 40 columns wide and has 10 rows. Only one gender cna be selected at a time. </textarea>
              </div>
          </div>
&nbsp
          <div class="row">
            <div class="col-md-6">
                </div>

            <div class="col-md-6">
              <button type="button" class="btn btn-primary">Submit</button>
              <button type="button" class="btn btn-warning">Save</button>
              <button type="button" class="btn btn-danger">Reset</button>
                </div>


<%- include('bootfooter') -%>
